{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-lg-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% load static %}
    <!-- Jumbotron from here https://www.w3schools.com/bootstrap4/bootstrap_jumbotron.asp -->
    <div id="main-background" class="jumbotron">
    <img class="img-jumbo" src="{% static "images/yellow-building.jpg" %}" alt="My image">
        <div class="row mt-5">
            <div class="col">
                <h1 class="display-4">
                    Search prints
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg rounded-0 text-uppercase py-3">Browse Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}