html {
    height: 100%;
}

a.navbar-brand, .navbar-brand {
    font-family: 'Londrina Shadow', cursive !important;
    font-size: 2.5rem;
}


.img-jumbo {
    max-height: 200vh;

}

#contact-btn {
    border: solid 2px black;
}

/* From Bulma, as shown in the CI course */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* url django - https://simpleit.rocks/python/django/call-static-templatetag-for-background-image-in-css/ */

#main-background {
    background-image: url('/static/images/geometric.png');
    height: 100vh;
    margin-bottom: 0px;
}

.text-white {
    color: white;
}

.ul-none {
    list-style-type: none;
}

.font-black {
    color: black !important;
}


.max-thumbnail {
    max-width: 304px;
    max-height: 236px;
}

.grid-item {
  margin-bottom: 20px;
}

.card {
    width: 18rem !important;
}
/* Looked up solution here https://stackoverflow.com/questions/16550485/hide-div-tag-on-mobile-view-only */
/* https://www.w3schools.com/css/css3_mediaqueries_ex.asp */

@media screen and (max-width: 992px) {
  a.navbar-brand, .navbar-brand {
    display: none !important;
  }
}

@media screen and (max-width: 574px) {
    .form-inline {
        
    }
}