html {
    height: 100%;
}

a.navbar-brand {
    font-family: 'Londrina Shadow', cursive !important;
    font-size: 2.5rem;
}

/*#main-page {
    height: 100vh;
}*/

#index-jumbotron {
    /*background-image: url('{% static "images/yellow-building.jpg" %}');*/
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

#contact-btn {
    border: solid 2px black;
}

/* From Bulma, as shown in the CI course */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.ul-none {
    list-style-type: none;
}

.font-black {
    color: black !important;
}

/* DELETE?
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}*/


.max-thumbnail {
    max-width: 304px;
    max-height: 236px;
}

.grid-item {
  margin-bottom: 10px;
}

/* For sign in form */